name: Build ImagePorter

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: imageporter
        password: ${{ secrets.DockerHub_TOKEN }}

    - name: Set up Golang
      uses: actions/setup-go@v4
      with:
        go-version: 'stable'

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Download Crane
      run: go install github.com/google/go-containerregistry/cmd/crane@latest

    - name: Copy Crane to workspace
      run: cp $HOME/go/bin/crane $GITHUB_WORKSPACE/crane

    - name: Download Supercronic
      run: go install github.com/aptible/supercronic@latest

    - name: Copy Supercronic to workspace
      run: cp $HOME/go/bin/supercronic $GITHUB_WORKSPACE/supercronic

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: imageporter/imageporter:dev
